<a href="https://colab.research.google.com/github/wars2/Analise-Dados-FAE/blob/main/lista_exercicios_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lista de exercícios de python

## Questão 1

In [ ]:
tempC = float(input('digite uma temperatura em Celsius: '))
tempF = tempC * (9 / 5) + 32
print(str(tempC) + ' graus Celsius corresponde a ' + str(tempF) + ' graus Fahrenheit')

digite uma temperatura em Celsius: 50
50.0 graus Celsius corresponde a 122.0 graus Fahrenheit

## Questão 2

In [ ]:
import math

a = float(input('digite a '))
b = float(input('digite b '))
c = float(input('digite c '))

delta = b**2-4*a*c

if delta > 0:
  x1 =(-b+math.sqrt(delta))/(2*a)
  x2 =(-b-math.sqrt(delta))/(2*a)
  print('2 raizes reais: ' + str(x1) + ' e ' + str(x2))

elif delta == 0:
  x1 =(-b)/(2*a)
  x2 =x1
  print('2 raizes reais e iguais: ' + str(x1) + ' e ' + str(x2))
  
else:
  x1_re =(-b)/(2*a)
  x1_im =(math.sqrt(-delta))/(2*a)
  x2_re =x1_re
  x2_im =(-math.sqrt(-delta))/(2*a)
  print('2 raizes complexas: ' + str(x1_re) + ' + ' + str(x1_im) + 'i e ' + str(x2_re) + ' + ' + str(x2_im) + 'i')

digite a 1
digite b -5
digite c 6
2 raizes reais: 3.0 e 2.0

## Questão 3

In [ ]:
num = int(input('digite um numero: '))
if num%2:
  print(str(num) + ' é impar')
else:
  print(str(num) + ' é par')

digite um numero: 51984457
51984457 é impar

## Questão 4

In [ ]:
def mru(v, t, s0=0):
  return s0+v*t

print(mru(3,5, s0=8))

23

## Questão 5

In [ ]:
a = input('entre com um string: ')
if ('s' in a) or ('S' in a):
  print('"s" esta contido na string')
else:
  print('"s" não esta contido na string')

entre com um string: Sdfgrg
"s" esta contido na string

## Questão 6

In [ ]:
n_prime = 0
num = 0

while (n_prime<100):

  if num > 1:
 
    for i in range(2, num//2+1):
 
      if (num % i) == 0:
        #print(num, " não é um numero primo")
        num+=1
        break
    else:
      n_prime+=1
      print(num, "é o", n_prime, "º numero primo")
      num+=1
 
  else:
    #print(num, " não é um numero primo")
    num+=1

2 é o 1 º numero primo
3 é o 2 º numero primo
5 é o 3 º numero primo
7 é o 4 º numero primo
11 é o 5 º numero primo
13 é o 6 º numero primo
17 é o 7 º numero primo
19 é o 8 º numero primo
23 é o 9 º numero primo
29 é o 10 º numero primo
31 é o 11 º numero primo
37 é o 12 º numero primo
41 é o 13 º numero primo
43 é o 14 º numero primo
47 é o 15 º numero primo
53 é o 16 º numero primo
59 é o 17 º numero primo
61 é o 18 º numero primo
67 é o 19 º numero primo
71 é o 20 º numero primo
73 é o 21 º numero primo
79 é o 22 º numero primo
83 é o 23 º numero primo
89 é o 24 º numero primo
97 é o 25 º numero primo
101 é o 26 º numero primo
103 é o 27 º numero primo
107 é o 28 º numero primo
109 é o 29 º numero primo
113 é o 30 º numero primo
127 é o 31 º numero primo
131 é o 32 º numero primo
137 é o 33 º numero primo
139 é o 34 º numero primo
149 é o 35 º numero primo
151 é o 36 º numero primo
157 é o 37 º numero primo
163 é o 38 º numero primo
167 é o 39 º numero primo
173 é o 40 º numero primo
179 é o 41 º numero primo
181 é o 42 º numero primo
191 é o 43 º numero primo
193 é o 44 º numero primo
197 é o 45 º numero primo
199 é o 46 º numero primo
211 é o 47 º numero primo
223 é o 48 º numero primo
227 é o 49 º numero primo
229 é o 50 º numero primo
233 é o 51 º numero primo
239 é o 52 º numero primo
241 é o 53 º numero primo
251 é o 54 º numero primo
257 é o 55 º numero primo
263 é o 56 º numero primo
269 é o 57 º numero primo
271 é o 58 º numero primo
277 é o 59 º numero primo
281 é o 60 º numero primo
283 é o 61 º numero primo
293 é o 62 º numero primo
307 é o 63 º numero primo
311 é o 64 º numero primo
313 é o 65 º numero primo
317 é o 66 º numero primo
331 é o 67 º numero primo
337 é o 68 º numero primo
347 é o 69 º numero primo
349 é o 70 º numero primo
353 é o 71 º numero primo
359 é o 72 º numero primo
367 é o 73 º numero primo
373 é o 74 º numero primo
379 é o 75 º numero primo
383 é o 76 º numero primo
389 é o 77 º numero primo
397 é o 78 º numero primo
401 é o 79 º numero primo
409 é o 80 º numero primo
419 é o 81 º numero primo
421 é o 82 º numero primo
431 é o 83 º numero primo
433 é o 84 º numero primo
439 é o 85 º numero primo
443 é o 86 º numero primo
449 é o 87 º numero primo
457 é o 88 º numero primo
461 é o 89 º numero primo
463 é o 90 º numero primo
467 é o 91 º numero primo
479 é o 92 º numero primo
487 é o 93 º numero primo
491 é o 94 º numero primo
499 é o 95 º numero primo
503 é o 96 º numero primo
509 é o 97 º numero primo
521 é o 98 º numero primo
523 é o 99 º numero primo
541 é o 100 º numero primo

## Questão 7

In [ ]:
nomes = [' marCELo', 'fabiana', ' MArta ', 'ELIAS']
for i in range(len(nomes)):
  nomes[i] = nomes[i].replace(' ', '')
  nomes[i] = nomes[i].title()
print(nomes)

['Marcelo', 'Fabiana', 'Marta', 'Elias']

## Questão 8

In [ ]:
nomes = ['carlos', 'carlos', 'leonardo', 'carlos', 'roberto', 'maria', 'gabriela', 2, 2, 2, 3, 3, 4, 'guilherme', 'gustavo']
nomes = list(dict.fromkeys(nomes))
print(nomes)

['carlos', 'leonardo', 'roberto', 'maria', 'gabriela', 2, 3, 4, 'guilherme', 'gustavo']

## Questão 9

In [ ]:
 primeiro_nome = ['Pedro', 'Patricia', 'Lilian', 'Monica']
 ultimo_nome = ['Machado', 'Oliveira', 'Silva', 'Nunes']

 nome_completo = []

 for i in range(len(primeiro_nome)):
   nome_completo.append(primeiro_nome[i] + ' ' + ultimo_nome[i])

print(nome_completo)

['Pedro Machado', 'Patricia Oliveira', 'Lilian Silva', 'Monica Nunes']

## Questão 10

In [11]:
lista = [1,12,13,6,7,9]
lista_filtrada=[]
for i in lista:
  if i<10:
    lista_filtrada.append(i)
print(lista)
print(lista_filtrada)

[1, 12, 13, 6, 7, 9]
[1, 6, 7, 9]

## Questão 11

In [ ]:
 pessoas = { 'Marcelo': 'azul', 'Lilian': 'marrom', 'Bruna': 'azul', 'Leandro': 'marrom', 'Tadeu': 'verde'}

 for i in pessoas:
   print('{} tem olhos {}'.format(i, pessoas.get(i)))

Marcelo tem olhos azul
Lilian tem olhos marrom
Bruna tem olhos azul
Leandro tem olhos marrom
Tadeu tem olhos verde

## Questão 12

In [ ]:
func2 = lambda x: 2*x-1

lista_teste = [1,2,3,4,5,6,7,8,9]

list(map(func2, lista_teste))

[1, 3, 5, 7, 9, 11, 13, 15, 17]

## Questão 13

In [ ]:
import functools

func3 = lambda x, y: x*y

lista_teste = [1,2,3,4]

print(functools.reduce(func3, lista_teste))

24